%article
  - @stories.each do |story|
    %div
      = story.description
      %div
        Status: 
        = story.status
      %div
        Estimate: 
        = story.points
      %div
        position: 
        = story.position
    %hr
